version: '3.8'

services:
  app:
    image: ptai-api-browser:latest
    container_name: ptai-api-browser-app
    restart: unless-stopped
    expose:
      - "8501"
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env
    cpus: 2.0
    mem_limit: 1G
#    memory-swap: 1G
    volumes:
      - ./tmp_data:/app/tmp_data:z

  nginx:
    image: nginx:alpine
    container_name: ptai-api-browser-nginx
    restart: unless-stopped
    ports:
      - "2443:443"
    cpus: 0.5
    mem_limit: 0.3gb
#    memory-swap: 0.5gb
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
      - ./tmp_data:/app/tmp_data:ro
    depends_on:
      - app
