worker_processes auto;  # Auto-detect the number of CPU cores

events { worker_connections 1024; }

http {
    upstream streamlit_backend {
        server app:8501;
    }
    resolver 10.89.2.1 127.0.0.11 127.0.0.1 valid=30s;
    server {
        listen 443 ssl;
        server_name ptai-api-browser;

        ssl_certificate /etc/nginx/certs/server.crt;
        ssl_certificate_key /etc/nginx/certs/server.key;

        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;

    location / {
        proxy_pass http://streamlit_backend;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#        proxy_set_header Host $http_host;
        proxy_set_header Host $host;
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header X-Real-IP $remote_addr;
    }
    location ^~ /static {
    proxy_pass http://streamlit_backend/static/;
    }
    location ^~ /healthz {
    proxy_pass http://streamlit_backend/healthz;
    }
    location ^~ /vendor {
    proxy_pass http://streamlit_backend/vendor;
    }
    location /stream {
    proxy_pass http://streamlit_backend/stream;
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_buffering off;
    proxy_read_timeout 1h;
#    proxy_max_temp_file_size 512m;
    }

    # раздача больших файлов из общего каталога, путь /app/tmp_data/ поменять при необходимости
#    location /downloads/ {
#            alias /app/tmp_data/;
#            autoindex off;
#            proxy_buffering off;
#            add_header Content-Disposition 'attachment';
#            proxy_read_timeout 3600s;
#            proxy_send_timeout 3600s;
#    }

    # проксирование больших файлов через сам nginx чтобы не скачивать внутрь контейнера или в память
    location /proxy-download/ {
        # Проверка секретного ключа
        if ($arg_secret != "__PROXY_SECRET__") {
        return 403 "Access Denied: Invalid or missing PROXY_SECRET";
        }

        # Проверка белого списка хостов
        if ($arg_target !~* "^https?://(__ALLOWED_HOSTS__)(:[0-9]+)?/") {
        return 403 "Access Denied: Host is not in ALLOWED_HOSTS";
        }
        # параметры из URL
        set $target_url $arg_target;
        set $auth_token $arg_token;
        set $download_filename $arg_filename;
        if ($download_filename = "") {
           set $download_filename "source_code.zip";
        }

        # Проксируем запрос на PTAI API
        proxy_pass $target_url;

        proxy_set_header Authorization "Bearer $auth_token";

        # Отключаем буферизацию для стриминга
        proxy_buffering off;
        proxy_request_buffering off;

        # Увеличиваем таймауты
        proxy_read_timeout 3600s;
        proxy_send_timeout 3600s;

        # заголовки для проксирования
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Заголовки для скачивания файла
        add_header Content-Disposition 'attachment; filename="$download_filename"';
        add_header Cache-Control "no-store, no-cache, must-revalidate, max-age=0";
        add_header Pragma "no-cache";

        # Удаляем лишние заголовки
        # proxy_hide_header Content-Length;
        proxy_hide_header Content-Type;
        proxy_hide_header Content-Disposition;

    }
    }
}

